
  <div class="container">
    <div>
      <h2>About me</h2>
      <p>Hello,I'm Vesela Apostolova , Web Developer from Bulgaria</p>
    </div>
    <div>
      <h2>Hobbies</h2>
      <p>Video Games </p>
    </div>
    <div>
      <h2>Favourite Content creator</h2>
      <a href="https://youtube.com/@MrWebDesignerAnas">Mr.WebDesigner</a>
    </div>
    <div>
      <h2>About my Chanel</h2>
      <p>Web Developing Tutorials</p>
    </div>
    <div>
      <h2>Services</h2>
      <p>
        <span>Website from Scratch (HTML,CSS,JS):500lv.</span>
        <span>Wordpress Website:300lv.</span>
      </p>
    </div>
  </div>
  
